$button-font-size: 16px;

@mixin rounded-form-element($scale: 1) {
    border: none;
    border-radius: 2 * $button-font-size * $scale;
    padding: 0.5 * $button-font-size * $scale;
    height: 2 * $button-font-size * $scale;
    font-size: $button-font-size * $scale;
}

:root {
    --light-blue-backup: rgb(204, 238, 255);
    --light-blue: rgba(204, 238, 255, 1);
    --light-purple: rgba(230, 213, 236, 1);
    --pink: rgba(255, 188, 217, 1);

    --dark: #262626;
    --light: #f5f5f5;

    --red: #dc2626;
    --green: #16a34a;
    --blue: #1e40af;

    --transition-duration: 0.3s;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--dark);
}

.background {
    --middle-point: 50%;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    min-height: 100vh;

    background: var(--blue-backup);
    background: -moz-linear-gradient(-45deg, var(--light-blue) 0%, var(--light-purple) var(--middle-point), var(--pink) 100%);
    background: -webkit-linear-gradient(-45deg, var(--light-blue) 0%, var(--light-purple) var(--middle-point), var(--pink) 100%);
    background: linear-gradient(-45deg, var(--light-blue) 0%, var(--light-purple) var(--middle-point), var(--pink) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cceeff", endColorstr="#ffbcd9", GradientType=1);
}

.form {
    width: 90vw;

    @media (min-width: 800px) {
        width: 50vw;
        max-width: 500px;
    }

    &__form-element-container {
        padding: 0.5 * $button-font-size 0;
    }

    &__button {
        @include rounded-form-element();
        background-color: var(--dark);
        color: var(--light);
        text-transform: uppercase;
        transition: background-color var(--transition-duration);
    }

    &__input {
        @include rounded-form-element(1.5);
        max-width: 90vw;
    }
}