:root {
  --light-blue-backup: rgb(204, 238, 255);
  --light-blue: rgba(204, 238, 255, 1);
  --light-purple: rgba(230, 213, 236, 1);
  --pink: rgba(255, 188, 217, 1);
  --dark: #262626;
  --light: #f5f5f5;
  --red: #dc2626;
  --green: #16a34a;
  --blue: #1e40af;
  --transition-duration: 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--dark);
}

.background {
  --middle-point: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  background: var(--blue-backup);
  background: -moz-linear-gradient(-45deg, var(--light-blue) 0%, var(--light-purple) var(--middle-point), var(--pink) 100%);
  background: -webkit-linear-gradient(-45deg, var(--light-blue) 0%, var(--light-purple) var(--middle-point), var(--pink) 100%);
  background: linear-gradient(-45deg, var(--light-blue) 0%, var(--light-purple) var(--middle-point), var(--pink) 100%);
}

a {
  color: var(--blue);
}
a:hover {
  color: var(--red);
}
a:visited {
  color: var(--green);
}

#app {
  width: 90vw;
}
@media (min-width: 800px) {
  #app {
    width: 50vw;
    max-width: 500px;
  }
}

.contact-manager__element-container {
  padding: 9px 0;
}
.contact-manager__element-container_align-right {
  position: absolute;
  right: 0;
}
.contact-manager__element-container_position-relative {
  position: relative;
}
.contact-manager__button {
  border: none;
  border-radius: 36px;
  padding: 9px;
  font-size: 18px;
  background-color: var(--dark);
  color: var(--light);
  height: 36px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color var(--transition-duration);
}
.contact-manager__button:hover, .contact-manager__button:focus {
  background-color: var(--blue);
}
.contact-manager__button_margin-right {
  margin-right: 18px;
}
.contact-manager__button_position-absolute {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
}
.contact-manager__button_delete-contact, .contact-manager__button_delete-field {
  scale: 0.7;
}
.contact-manager__button_delete-contact, .contact-manager__button_delete-field {
  background-color: var(--red);
}
.contact-manager__button_add-field {
  align-self: end;
  background-color: var(--green);
}
.contact-manager__input {
  border: none;
  border-radius: 36px;
  padding: 9px;
  font-size: 18px;
  background-color: var(--light);
  color: var(--dark);
  height: 54px;
  width: 100%;
}
.contact-manager__input::placeholder {
  color: var(--dark);
  opacity: 0.2;
}
.contact-manager__input:focus::placeholder {
  opacity: 0;
}
.contact-manager__result {
  border: none;
  border-radius: 54px;
  padding: 20.25px;
  font-size: 27px;
  background-color: var(--light);
  color: var(--dark);
  margin-top: 9px;
  min-height: fit-content;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.contact-manager__result::-webkit-scrollbar {
  display: none;
}
.contact-manager__contact {
  display: grid;
  border-bottom: 3px dotted var(--dark);
  padding: 9px 0;
}
.contact-manager__contact:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (min-width: 800px) {
  .contact-manager__contact {
    grid-template-columns: 3fr 5fr;
    align-items: center;
  }
}
.contact-manager__contact-name {
  margin: 0 auto 9px;
}
.contact-manager__contact-name span {
  border: 3px solid var(--dark);
  border-radius: 9px;
  padding: 3.6px;
  width: fit-content;
  display: inline-block;
}
.contact-manager__contact-name:last-child {
  margin-bottom: 0;
}
@media (min-width: 800px) {
  .contact-manager__contact-name {
    margin-bottom: 0;
  }
}
.contact-manager__contact-field {
  display: grid;
  grid-template-columns: 72px auto;
  align-items: center;
}
.contact-manager__contact-field-list {
  display: flex;
  flex-direction: column;
}
.contact-manager__contact-field-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5.4px;
}

/*# sourceMappingURL=style.css.map */
